
* {
  box-sizing: border-box;
  color: white;
  font-family: Lato, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

html, body {
  background-image: url('https://images.pexels.com/photos/1763075/pexels-photo-1763075.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
  background-color: rgb(15, 4, 4);
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.keys {
  align-items: center;
  align-content: center;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: space-between;
  text-align: center;
}

.key {
  align-self: center;
  background-color: rgba(0,0,0,0.3);
  border: 5px solid #fff;
  border-radius: 10px;
  box-shadow: 0 0 4px black;
  cursor: pointer;
  flex-grow: 2;
  margin: 10px;
  padding: 20px;
  transition: all .07s ease;
  text-shadow: 0 0 5px black;
  width: 100px;
}

.key:hover {
  background-color: rgba(0,0,0,0.6);
}

.playing {
  transform: scale(1.1);
  background-color: rgba(0,0,0,0.6);
  border-color: #daad0d;
  box-shadow: 0 0 1rem #ffc600;a
}

kbd {
  display: block;
  font-size: 2rem;
}

kbd, span {
  pointer-events: none;
  user-select: none;
}